.footer {
  background-color: rgba(var(--black-color));
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 80px 16px;
  max-width: 100%;
  @media (max-width: 1025px) {
    padding: 60px 16px;
  }

  @media (max-width: 768px) {
    padding: 40px 16px;
  }
  .container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 120px;
    @media (max-width: 1025px) {
      gap: 60px;
    }

    @media (max-width: 768px) {
      gap: 60px;
      flex-direction: column;
    }
    .desc {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (max-width: 768px) {
        gap: 15px;
        width: 100%;
      }
      .logo {
        display: flex;
        align-items: center;
        gap: 20px;
  
        .logoImg {
          width: 40px;
          height: auto;
        }
  
        .logoText {
          font-family: LogoFont, sans-serif;
          color: white !important;
        }
      }

      p {
        color: rgba(255, 255, 255, 80%)  !important;
      }
    }

    .links {
      width: 40%;
      display: flex;
      justify-content: end;
      flex-direction: row;
      gap: 30px;
      @media (max-width: 768px) {
        gap: 20px;
        flex-direction: column;
        width: 100%;
      }
      .pages, .resources{
        color: rgba(255, 255, 255, 80%)  !important;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        h4 {
          color: white !important;
        }
        @media (max-width: 768px) {
          gap: 10px;
        }

      }

    }
  }
}